$margin-large: 100px;
$margin-small: 10px;
$large-button-font-size: 25px;
$large-button-padding: 5px 10px;

.index {
    
}

.new {
    text-align:center;
    
    .new-button {
        position: relative;
        top: calc(45vh - #{$margin-large});
        font-size: $large-button-font-size;
        padding: $large-button-padding;
    }
}

.register {
    .register-btn-div {
        text-align:center;
    
        .register-btn {
            font-size: $large-button-font-size;
            padding: $large-button-padding;
        }
    }

    .prog {
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
    }
}

.start {
    h1 {
        text-align: center;
        position: relative;
        z-index: 21;
    }

    p {
        font-size: 16px;
    }

    .stuff {
        text-align: center;
    }

    .stuff {
        position: relative;
        z-index: 21;
    }
}

.swipe {
    .md-headline {
        font-size: 20px;
        font-weight: bold;
    }

    .buttons {
        text-align: center;

        .md-raised {
            color: white;
        }

        #no {
            background-color: #FF2600;
        }

        #yes {
            background-color:#63DE9A;
        }
    }

    .prog {
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;

        .md-fab {
            z-index: 10;
        }
    }
}

.success {
    .success-text {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }
}

.wait {
    p {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }

    .prog {
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
    }
}

$load-width: 100px;
$banner-height: 56px;
$banner-buffer: 8px;

.overlay {
    position: absolute;
    z-index: 21;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    
    img {
        width: $load-width;
        
        position: absolute;
        left: calc((100% - #{$load-width}) / 2);
        top: calc(50% - #{$load-width});
    }
    
    .loading_text {
        text-align: center;
        position: relative;
        top: 50%;
    }
}

.background-image-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    
    .background-image {
        position: absolute;
        height: 115%;
        top: calc(-1 * #{$banner-height});
        left: -80px;
        opacity: 0.55;
    }
}

.transparent-background {
    background-color: rgba(0,0,0,0);
}