<div class="register" ng-controller="RegisterCtrl">
    <div class="background-image-container">
        <img class="background-image" src="img/concert-crowd.jpg">
    </div>
    <div class="overlay" ng-show="loading">
        <div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular class="prog" md-mode="indeterminate"></md-progress-circular>
        </div>
        <div class="loading_text"><b>Loading Data...</b></div>
    </div>
    <md-content class="register-input transparent-background" layout layout-padding ng-show="!loading">
        <div>
            <md-input-container class="md-block">
                <label>City</label>
                <input ng-model="city" type="text" ng-required="true">
            </md-input-container>
            <md-datepicker class="transparent-background" ng-model="date" md-placeholder="Plan date"></md-datepicker>
            <md-input-container class="md-block">
                <label>Free time starts</label>
                <input mdc-datetime-picker="" date="false" time="true" type="text" id="time" short-time="true"
                       placeholder="Time" format="hh:mm a" ng-model="time" class=" md-input">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Number of People</label>
                <input ng-model="numSwipes" type="number" ng-required="true">
            </md-input-container>
            <div class="register-btn-div">
                <md-button ng-disabled="!numSwipes" class="md-button md-raised md-primary register-btn" ng-click="register()" aria-label="remove item">
                    Create Event
                </md-button>
            </div>
        </div>
    </md-content>
</div>