<div class="start" ng-controller="IndexCtrl">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">
            planz
        </h1>
    </md-toolbar>
    <md-whiteframe class="md-whiteframe-5dp register-frame" layout="column" layout-align="center center">
        <md-toolbar class="header">
            <div class="md-toolbar-tools">Consumer Registration</div>
        </md-toolbar>
        <md-content class="register-input" layout layout-padding>
            <div>
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input ng-model="user.email" type="email" ng-required="true">
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input ng-model="user.password" type="password">
                </md-input-container>
                <md-input-container>
                    <label>Password Confirm</label>
                    <input ng-model="user.passwordConfirm" type="password">
                </md-input-container>
                <div class="register-btn-div">
                    <md-button class="md-button md-raised md-primary register-btn" ng-click="register()" aria-label="remove item">
                        Sign Up
                    </md-button>
                </div>
            </div>
        </md-content>
    </md-whiteframe>
</div>