<div class="success" ng-controller="SuccessCtrl">
    <md-card>
        <img ng-src="{{currentEvent.image.medium.url}}" class="md-card-image" alt="event image">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{currentEvent.title}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>{{currentEvent.venue_address}}</p>
            <p>{{currentEvent.start_time}}</p>
        </md-card-content>
        <p class="success-text">You agreed on an event, congratulations!</p>
    </md-card>
</div>